// === VARIABLES ===

$white: #ffffff;
$black: #000000;

$gray-50: #f9fafb;
$gray-300: #d1d5db;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-900: #111827;

$madera-clara: #c29b76;      // Tono madera claro
$madera-oscura: #8b5e3c;     // Tono madera más oscuro
$madera-mas-oscura: #5c3b22; // El más oscuro, para footer o fondos profundos
